html {
  font-family: "poppins";
  scroll-behavior: smooth;
  color: white;
}

a {
  text-decoration: none;
  color: unset;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 10;
  overflow: hidden;
}
header h1 {
  padding-left: 10px;
}
header ul {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}

header ul li a {
  list-style-type: none;
  padding: 10px;
  border-radius: 25px;
}

header ul li a:hover {
  background-color: #1e1e1e7f;
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.content {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(./1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
}

.quote {
  width: 40%;
  position: absolute;
  left: 5%;
}

h3 {
  width: fit-content;
  align-self: flex-start;
  top: 10%;
  position: relative;
  left: 5%;
  font-size: 5rem;
}

.nandha-i {
  animation: show-off both;
  animation-timeline: view(50% 30%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 5%;
  width: 30%;
}

#mission, #vision{
  /* height: 80%; */
  width: 50%;
}

#mission p, #vision p{
  width: 80%;
  margin-left: 10%;
}

.nandha-n {
  background-color: #1e1e1e75;
  border: solid 1px #6b6b6b75;
  border-radius: 15px;
  z-index: 100;
  position: absolute;
  padding: 5px;
  font-size: 24px;
  top: 90%;
  backdrop-filter: blur(5px);
  z-index: 5;
}
.nandha-n h5 {
  font-size: 2.5rem;
  font-weight: bold;
}
.nandha-n p {
  font-size: 1rem;
}

.nandha-img {
  width: 100%;
  border-radius: 50%;
}

footer {
  background-color: #1e1e1e;
}


@keyframes show-off {
  from {
    opacity: 0;
    transform: translateY(100px) scale(0.75);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@media only screen and (max-width: 900px) {
  header ul {
    display: none;
  }
}